.contact-form {
  margin-top: 10px;
  width: 23%;
  max-width: 35%;

  position: fixed;
  right: 0;

  li {
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
    list-style: none;
    padding: 4px;
  }

  ul {
    padding: 0;
    display: inline-block;
  }

  input {
    height: 22px;
    width: 90%;
  }

  .flat-button {
    color: #188fff;
    height: 60px;
    width: 90%;
    font-size: 16px;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: 3px;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #188fff;
    border-radius: 3px;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #166dbe;
      color: #222;
    }
  }
}

.cartDisplay {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
}

.cartContainer {
  padding: 20px;
  margin: 25px 0px 0px 25px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 90px;
  width: 79%;
}

.containerCartDetail {
  display: flex;
  background-color: rgba(196, 196, 196, 0.372);
  margin: 6px;
  padding: 6px;
  border-radius: 8px;
}

.cartTotalContainer {
  width: 23%;
  max-width: 35%;
  padding-top: 50px;
  position: fixed;
  right: 0;
  margin: 0;
  text-align: center;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: auto;
    h6 {
      margin: 3px;
      text-align: left;
    }
  }

  .subTotalContainer {
    margin: 0;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    justify-items: end;
    right: 0;
  }

  .subTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border: 0;
    position: relative;

    margin-left: 12px;
    margin-right: 10px;
  }

  h2 {
    font-size: 1.3em;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 10px;
  }
}

.infoCartDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.infoCartDetail img {
  width: 7%;
  border-radius: 20%;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.infoCartDetail article {
  display: inline-block;
  margin-left: 130px;

  h3 {
    margin: 0px 5px;
  }

  h4 {
    margin: 0px 5px;
  }
  h5 {
    margin: 0px 3px;
    font-size: 0.85em;
  }
}

.stock {
  margin: 0px 5px;
  display: flex;
  left: 35%;
}

.stock h6 {
  margin: 2px;
  font-size: 0.8em;
}

.nombre {
  position: absolute;
  display: inline-block;
  justify-content: start;
  left: 14%;
  font-size: 0.8em;
  width: 30%;
  max-width: 350px;
}

.nombre h3 {
  display: flex;
  font-size: 1.4em;
  margin: 5px;
}

.subcontainer {
  display: table;
}

.titulo {
  display: flex;
  justify-content: center;
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  background-color: rgba(195, 195, 195, 0.895);
  padding: 5px;
  border-radius: 5px;

  height: 45px;

  h5 {
    justify-content: end;
  }
}

.botonera {
  display: flex;
  align-items: center;
  left: 10px;
}

.boton {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #188fff;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  z-index: 0;

  &:hover {
    transform: scale(1.05);
  }
}

.botonDelete {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #166dbe;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
  margin-right: 10px;

  &:hover {
    background-color: #188fff;
  }
}

.vaciar {
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #707070;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  margin-top: 160px;
  width: 90%;
  &:hover {
    background-color: #166dbe;
  }
}

@media screen and (max-width: 960px) {
  .cartDisplay {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 80px;
  }
}
