.nav {
  display: flex;
  // justify-content: center;
  align-items: center;
  // width: 100vw;
  // padding: 10px;
  clear: both;
  left: 0;
  // width: calc(100% - 16px);
  right: 0;
  position: relative;
  top: 0;
  // max-width: 100%;
  // max-width: calc(100% - 16px);
  margin: 0;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0.5px #902fc9ac;
  bottom: 0;
  position: absolute;
  clear: both;
  left: 0;
  right: 0;
  margin: 0;
}

.nav h2 {
  line-height: 25px;
  color: #ffff;
}

.cart {
  position: relative;
  margin-right: 10px;
}


.nav ul {
  align-items: center;
}
.nav ul i {
  padding-left: 10px;
  padding-right: 10px;
}

.nav ul a {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

}

.navFooter li {
  color: #8b4cd2;
  margin: 5px;
}

.navFooter ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
  align-items: center;

  
  a {
    transition: all 0.5s ease;

    &:hover {
      color: #222222;
    }
  }
}

.nav ul li {
  margin: 0px 0px;
}

.navFooter h2 {
  color: #8b4cd2;

  &:hover {
    color: #222222;
  }
}

.navItem {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0;
  padding: 0;
}

.navItem:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}


.navMenu {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  // right: 70px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  padding: 10px;
  right: 0;
  padding-right: 10px;
}

.navLinks {
  // position: absolute;
  text-align: center;

  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navLinks:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}