.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 100vw;
  padding: 10px;
  clear: both;
  left: 0;
  // width: calc(100% - 16px);
  right: 0;
  position: relative;
  top: 0;
  // max-width: 100%;
  // max-width: calc(100% - 16px);
  margin: 0;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  box-shadow: 0px 0px 6px 0.5px #902fc9ac;
  bottom: 0;
  position: absolute;
  clear: both;
  left: 0;
  right: 0;
  margin: 0;
}

.nav h2 {
  line-height: 25px;
  margin-left: 10px;

  &:hover {
    color: #8b4cd2;
  }
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 20px;
}

.nav ul a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  
  &:hover {
    color: #8b4cd2;
  }
}

.navFooter li {
  color: #8b4cd2;
  margin: 5px;
}

.navFooter ul {
  display: flex;
  list-style: none;
  margin-right: 20px;

  
  a {
    &:hover {
      color: #222222;
    }
  }
}

.nav ul li {
  margin: 0px 20px;
}

.navFooter h2 {
  color: #8b4cd2;

  &:hover {
    color: #222222;
  }
}
