.button {
  margin-right: 10px;
  margin-left: 10px;
}

.icon {
  font-size: 110;
  
  &:hover {
    color: #8b4cd2;
  }
}

.icon-hover {
  color: #8b4cd2;
}

.icon-max {
  color: #e61f1f;
}

.Counter {
  max-width: 200px;
  position: relative;
  left: 0%;
  padding: 5px;
  margin-left: 0%;
  display: block;
  align-content: center;
  display: inline-block;
  overflow: auto/scroll/hidden;
  clear: left/right/both;
}