.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vmax;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4px);
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;

}