input[type="text"] {
  font: 1.1em "PT Sans Caption";
  border: 2px solid #188fff;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
  background: transparent;
}

.buscarButton {
  font-size: 1.1em;
  padding: 5px;
  margin-left: 5px;
}
