.main {
  min-height: calc(100vh - 4px);
  flex-grow: 1;
  position: absolute;
}

.image-main {
  display: flex;
  position: relative;
  top: 100px;
  width: 30vh;
  /* left: calc((100vw / 2) - (30%)); */
  /* transform: translate(-50%, 30%); */
}